<div class="container-fluid py-5" id="qualification">
  <div class="align-items-center justify-content-center mx-5">
    <div class="position-relative d-flex align-items-center justify-content-center fs-5 mt-5">
      <h1 class="title-sections display-1 text-uppercase" style="-webkit-text-stroke: 1px #dee2e6;">QUALITY</h1>
      <h1 class="title-section1 position-absolute text-uppercase">EDUCATION & EXPERIENCE</h1>
    </div>
    <div class="row d-flex justify-content-center container-quality">
          <div class="col-lg-6">
              <h3 class="mb-4 titles2">My Education</h3>
              <div class="border-left border-primary pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle position-absolute icon" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1 text-black">Industrial Engineer</h5>
                      <p class="mb-2"><strong>Republicana University</strong> | <small>2010 - 2016</small></p>
                      <p>My background in industrial engineering provides a unique and complementary perspective to my career as a web developer. Throughout my journey, I have applied the fundamental principles of industrial engineering to tackle challenges in software development and optimize digital processes.</p>
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle position-absolute icon" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1 text-black">Web Development</h5>
                      <p class="mb-2"><strong>Platzi</strong> | <small>2022 - 2024</small></p>
                      <p>My career in web development at Platzi represents an exciting journey towards mastery in creating innovative digital solutions. Throughout this educational experience, I have gained a solid foundation of knowledge in the most relevant technologies in the world of web development, supported by the expert guidance of industry-leading professionals.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <h3 class="mb-4 titles2">My Expericence</h3>
              <div class="border-left border-primary pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle position-absolute icon" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1 text-black">Web Designer</h5>
                      <p class="mb-2"><strong>Lam Logistica</strong> | <small>2024</small></p>
                      <p>Ensure that the website is compatible with different browsers, devices, and screen sizes, ensuring a consistent experience for all users. <br> Create and maintain interactive and attractive user interfaces using HTML, CSS, JavaScript Vue.js y Tailwind.</p>
                  </div>
              </div>
              <div class="border-left border-primary pt-2 pl-4 ml-2">
                <div class="position-relative mb-4">
                    <i class="far fa-dot-circle position-absolute icon" style="top: 2px; left: -32px;"></i>
                    <h5 class="font-weight-bold mb-1 text-black">Web Designer</h5>
                    <p class="mb-2"><strong>Personal Porfolio</strong> | <small>2023 - 2024</small></p>
                    <p>My focus on personal projects has been not only to achieve solid functionalities but also to prioritize code quality and user experience. Through constant iterations and a focus on feedback, I have refined my development skills and gained a deeper understanding of industry best practices.</p>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
