.boton{
  color: #08CEAF;
  border-color: #08CEAF;
}

.position-relative {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.title-sections {
  font-size: 9rem;
}

.title-section1 {
  font-size: 3rem;
}

@media (max-width: 576px) {
  .title-sections {
    font-size: 6rem;
  }
  .title-section1 {
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  .container-info-about{
    justify-content: center;
  }
}
