<div class="container-fluid">
  <div class="align-items-center justify-content-center mx-5">
    <div class="position-relative d-flex align-items-center justify-content-center fs-5 mt-5">
      <h1 class="title-sections display-1 text-uppercase" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
      <h1 class="title-section1 position-absolute text-uppercase">About Me</h1>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-lg-7">
          <h3 class="mb-4 titles2">Web Developer - Frontend</h3>
          <p class="mb-4 text-justify">I am in search of new opportunities as a Frontend Developer, I bring over a year of experience in freelance projects, excelling in web interface creation. My technical skills encompass HTML, CSS, GIT, with specialized knowledge in responsive design and GitHub. Currently, I am delving into React.js as a crucial part of my professional development, aiming to apply and expand my expertise in this technology. <br> Additionally, I have experience with Bootstrap and tailwind, enhancing my ability to design and develop modern user experiences. My ongoing commitment to learning drives me to contribute to the world of Frontend development, always seeking evolution and professional growth.</p>
          <div class="row mb-3">
              <div class="col-sm-6 py-2 text-black"><h6>Name: <span class="text-secondary">Katherine Cruz</span></h6></div>
              <div class="col-sm-6 py-2 text-black"><h6>Birthday: <span class="text-secondary">22 Mayo</span></h6></div>
              <div class="col-sm-6 py-2 text-black"><h6>Degree: <span class="text-secondary">Junior</span></h6></div>
              <div class="col-sm-6 py-2 text-black"><h6>Experience: <span class="text-secondary">1 Year</span></h6></div>
              <div class="col-sm-6 py-2 text-black"><h6>Phone: <span class="text-secondary">3163509851</span></h6></div>
              <div class="col-sm-6 py-2 text-black"><h6>Email: <span class="text-secondary">katherinecruzo.o*outlook.com</span></h6></div>
              <div class="col-sm-6 py-2 text-black"><h6>Address: <span class="text-secondary">Bogota, Colombia</span></h6></div>
              <div class="col-sm-6 py-2 text-black"><h6>Freelance: <span class="text-secondary">Available</span></h6></div>
          </div>
          <a href="" class="btn btn-outline-primary boton rounded-pill mr-4">Hire Me</a>
          <a href="" class="btn btn-outline-primary boton rounded-pill">Learn More</a>
      </div>
    </div>
  </div>
</div>

