<div class="container-fluid pt-5" id="service">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center fs-5 mt-5">
      <h1 class="title-sections display-1 text-uppercase" style="-webkit-text-stroke: 1px #dee2e6;">SERVICES</h1>
      <h1 class="title-section1 position-absolute text-uppercase">MY SERVICES</h1>
    </div>
    <div class="row pb-3 container">
      <div class="col-lg-4 col-md-6 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
              <i class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3 icon"></i>
              <h4 class="font-weight-bold m-0 titles2">Web Design</h4>
          </div>
          <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
          <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
              <i class="fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3 icon"></i>
              <h4 class="font-weight-bold m-0 titles2">Web Development</h4>
          </div>
          <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
          <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-4">
              <i class="fab fa-2x fa-android service-icon bg-primary text-white mr-3 icon"></i>
              <h4 class="font-weight-bold m-0 titles2">Apps Design</h4>
          </div>
          <p>Justo sit justo eos amet tempor amet clita amet ipsum eos elitr. Amet lorem lorem lorem est amet labore eirmod erat clita</p>
          <a class="border-bottom border-primary text-decoration-none" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
