
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title-header{
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #fff;
  letter-spacing: 0.05em;
}

.titles1{
  color: #fff;
}
.titles2{
  color: #000;
}

.titles-nav{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}
.title-nav:hover{
  color: #08CEAF;
}

.title-sections{
  color: #fff;
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 130px;
  letter-spacing: 0.05em;
}

.title-section1{
  color: #08CEAF;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
}

.text-secondary{
  font-size: 15px;
}

p{
  font-size: 15px;
}

.boton{
  font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
