.container-header{
  background-color: #08CEAF;
}
.img-profile{
  height: 250px;
  width: 250px;
}

@media (min-width: 768px) {
  .img-profile{
    height: 600px;
    width: 600px;
  }
}

@media (min-width: 1025px) {
  .container-header1{
    display: contents;
  }
  .img-profile{
    height: 500px;
    width: 500px;
  }
}

/* @media (max-width: 1025px) {
  .img-profile{
    height: 600px;
    width: 600px;
  }
} */
