<div class="container-fluid  container-header d-flex justify-content-center align-items-center vh-100">
  <div class="container-sm d-flex container-header1 text-center">
    <div class="img-container">
      <img src="../../../assets/profile.jpg" alt="imagen_perfil" class="img-profile img-fluid">
    </div>
    <div class="text-container">
      <h3 class="titles1">I'm</h3>
      <h1 class="title-header">KATHERINE CRUZ</h1>

        <ngx-typed-js class="d-inline"
        [strings]="['Frontend Developer', 'Web Developer', 'Angular','Bootstrap', 'Tailwind']"
        [typeSpeed]="50"
        [startDelay]="1000"
        [loop]="true"
      >
        <h2 class="typing titles1 d-inline"></h2>
      </ngx-typed-js>


      <a href="" class="btn boton btn-outline-light rounded-pill mt-4">Download CV</a>
    </div>
  </div>
</div>










