.container-header{
  background-color: #08CEAF;
}
.img-profile{
  height: 250px;
  width: 250px;
}



@media (min-width: 768px) {
  .img-profile{
    height: 450px;
    width: 450px;
  }
}

@media (min-width: 1025px) {
  .container-header{
    display: inline-block;
  }
  .img-profile{
    height: 550px;
    width: 550px;
  }
}
