<div class="container-fluid pt-5" id="service">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center fs-5 mt-5">
      <h1 class="title-sections display-1 text-uppercase" style="-webkit-text-stroke: 1px #dee2e6;">GALLERY</h1>
      <h1 class="title-section1 position-absolute text-uppercase">MY PORTFOLIO</h1>
    </div>
    <div class="row portfolio-container">
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
          <div class="position-relative overflow-hidden mb-2">
              <img class="img-fluid rounded w-100" src="/src/assets/project-1-counter.jpg" alt="">
              <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                  <a href="https://ankathe.github.io/Counter-Clicks/" data-lightbox="portfolio">
                      <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
          <div class="position-relative overflow-hidden mb-2">
              <img class="img-fluid rounded w-100" src="/src/assets/project-2-calculator.jpg" alt="">
              <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                  <a href="https://ankathe.github.io/Calculator/" data-lightbox="portfolio">
                      <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 portfolio-item third">
          <div class="position-relative overflow-hidden mb-2">
              <img class="img-fluid rounded w-100" src="/../curriculum/src/assets/project-3-sofisblog.jpg" alt="">
              <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                  <a href="https://ankathe.github.io/Photo-Blog/" data-lightbox="portfolio">
                      <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                  </a>
              </div>
          </div>
      </div>

  </div>
  </div>
</div>
