.icon-green {
  color: #07CEAF;

}
.text-secundary{
  color: #07CEAF;
}

.title-sections {
  font-size: 5rem;
}

.title-section1 {
  font-size: 1rem;
}

@media (min-width: 425px) {
  .title-sections {
    font-size: 6rem;
  }
  .title-section1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .title-sections {
    font-size: 8rem;
  }

  .title-section1 {
    font-size: 2rem;
  }
}

@media(min-width:768px){
  .container-quality{
    margin-left: 60px;
    margin-right: 60px;
  }
  .title-sections {
    font-size: 8rem;
  }
  .title-section1 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .title-sections {
    font-size: 10rem;
  }

  .title-section1 {
    font-size: 3rem;
  }
}
